:root{
    --gridSize: 16;
}

.grid-container{
    max-width: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(var(--gridSize), auto);
    grid-template-rows: repeat(var(--gridSize)16, auto);
}

.cell{
    background-color: rgb(223, 223, 223);
    border: 1px solid black;
    aspect-ratio: 1;
}

.cell-selected{
    background-color: rgb(70, 70, 70);
}

#reset-button{
    margin: 10px 0px;
}